/* 
 |=============================================|
                NAVBAR STYLES
 |=============================================|
 */

.header {
    color: #ffffff;
    padding: 20px 0;
    clear: 'both';
    background-color: #6E6E6E;
}

.clicker {
    font-size: 40px;
    font-weight: 200;
    color: #00E500;
}

.answer {
    font-size: 55px;
    font-weight: 200;
    color: #ffff;
}

.score {
    font-size: 40px;
    font-weight: 200;
    color: #ffff;  
}