/* 
 |=============================================|
                JUMBOTRON STYLES
 |=============================================|
 */

.jumbotron {
    color: #00E500;
    background-color: #373737;
    margin: 0;
}
