/* 
 |=============================================|
                FOOTER STYLES
 |=============================================|
 */

 .footer {
     background-color: #6E6E6E;
     padding: 35px 0;
     font-weight: 200;
     font-size: 20px;
     margin-top: 150px;
 }
