/* 
 |=============================================|
                HEADER STYLES
 |=============================================|
 */

.header {
    color: #ffffff;
    padding: 20px 0;
    clear: 'both';
    background-color: #868686;
}

.clicker {
    font-size: 40px;
    font-weight: 200;
    color: #00E500;
}

.answer {
    font-size: 50px;
    font-weight: 200;
    color: #ffff;
}

.score {
    font-size: 40px;
    font-weight: 200;
    color: #ffff;  
}