/* 
 |=============================================|
                JUMBOTRON STYLES
 |=============================================|
 */

.jumbotron {
    color: #ffffff;
    height: 400px;
    clear: 'both';
    background-color: #262626;
}