/* 
 |=============================================|
                JUMBOTRON STYLES
 |=============================================|
 */

.jumbotron {
    height: 300px;
    clear: 'both';
    background-color: red;
}